body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3c3c3c;
  margin: 0 0 0 0;
  width: 100%;
  text-align: center;
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}
#container #landing {
  text-align: center;
  font-family: 'PT Mono';
}
#container #landing header {
  margin-top: 250px;
}
#container #landing header h1 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 3em;
  font-family: 'PT Mono';
}
#container #landing header h1 a {
  color: white;
  text-decoration: none;
}
#container #landing header h1 a:hover {
  text-decoration: underline;
}
#container #landing ::-webkit-input-placeholder {
  font-family: 'PT Mono';
  color: #ddd;
}
#container #landing :-moz-placeholder {
  /* Firefox 18- */

  font-family: 'PT Mono';
  color: #ddd;
}
#container #landing ::-moz-placeholder {
  /* Firefox 19+ */

  font-family: 'PT Mono';
  color: #ddd;
}
#container #landing :-ms-input-placeholder {
  font-family: 'PT Mono';
  color: #ddd;
}
#container #landing #id_location {
  background: none;
  color: white;
  font-family: 'PT Mono';
  height: 35px;
  font-size: 25px;
}
#container #landing input[type="submit"] {
  margin-top: 15px;
  border: none;
  background: none;
  font-family: 'PT Mono';
  color: white;
  font-size: 22px;
  cursor: pointer;
}
#container #landing input[type="submit"]:hover {
  text-decoration: underline;
}
#container #landing form {
  margin-top: 30px;
}
#container #landing form #id_location {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 70%;
}
