@black: rgb(60, 60, 60);
@grey: rgb(90, 90, 90);

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: @black;
	margin: 0 0 0 0;
	width: 100%;
	text-align: center;
	background-image: url('../img/bg1.jpg');
	background-size: cover;
	background-repeat: none;
	background-position: center center;
}

#container {
	#landing {
		text-align: center;
		font-family: 'PT Mono';

		header {
			margin-top: 250px;
			h1 {
				font-weight: 300;
				letter-spacing: 1px;
				font-size: 3em;
				font-family: 'PT Mono';
				a {
					color: white;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		::-webkit-input-placeholder {
			font-family: 'PT Mono';
		   	color: #ddd;
		}
		:-moz-placeholder { /* Firefox 18- */
			font-family: 'PT Mono';
		   	color: #ddd;
		}
		::-moz-placeholder {  /* Firefox 19+ */
			font-family: 'PT Mono';
		   	color: #ddd;
		}
		:-ms-input-placeholder {
			font-family: 'PT Mono';
		   	color: #ddd;
		}
		#id_location {
			background: none;
			color: white;
			font-family: 'PT Mono';
			height: 35px;
			font-size: 25px;
		}
		input[type="submit"] {
			margin-top: 15px;
			border: none;
			background: none;
			font-family: 'PT Mono';
			color: white;
			font-size: 22px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		form {
			margin-top: 30px;
			#id_location {
				border: none;
				border-bottom: 1px solid #ccc;
				width: 70%;
			}
		}
	}
}