{% extends "base.html" %}

{% load staticfiles %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">{% endblock %}

{% block title %}# WEATHER{% endblock %}

{# {% block body_bg %}style="background-image: url('../static/img/bg3.jpg'));"{% endblock %} #}

{% block content %}

	<div id="landing">

	<header>
		<h1><a href="/"># WEATHER</a></h1>
	</header>

	<form action="/weather/" method="GET">
	{{form.location}}
	<p><input type="submit" value="get weather"></p>
	<p style="opacity: 0;">{{form.classifier}}</p>
	</form>

	</div>

{% endblock %}